<!--<c-footer>-->
<c-nav class="flex-column flex-sm-row" role="navigation">
    <div class="container-fluid">
        <span> &copy; 2022 PAC </span>
    </div>
</c-nav>
<c-nav class="flex-column flex-sm-row justify-content-end" role="navigation" variant="pills">
    <div class="row">
        <a class="col-12" routerLink="/" target="_blank">
            Security & Privacy Policy
        </a>
        <a class="col-12" routerLink="/" target="_blank">
            Acceptable Use Policy
        </a>
    </div>
    <div class="row">
        <a class="col-12" routerLink="/" target="_blank">
            Acceptable Use Policy
        </a>
        <a class="col-12" routerLink="/" target="_blank">
            DMCA Notice & Take-down Policy
        </a>
    </div>
</c-nav>
<!--</c-footer>-->
