<div class="bg-light p-5 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col md="6">
                <div class="clearfix">
                    <h1 class="float-start display-3 me-4">PAC</h1>
                    <h4 class="pt-3">Welcome to the PAC Music Application.</h4>
                    <p class="text-medium-emphasis float-start">
                        We deliver to you an eclectic collection of tracks, which you can curate from and create your
                        personalized choice of playlist and much more.
                    </p>
                </div>
                <a class="d-grid gap-2 col-12 mx-auto" [routerLink]="'/login'">
                    <button cButton color="primary">
                        <span class="p-2"><fa-icon [icon]="faRightToBracket"></fa-icon></span>
                        LOGIN AND EXPERIENCE MUCH MORE
                    </button>
                </a>
            </c-col>
        </c-row>
    </c-container>
</div>

