<div class="modal-header">
    <h4 class="modal-title" id="modal-primary-title">Update Password</h4>
    <button
            (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button">
    </button>
</div>
<form [validated]="isInvalid" #ngForm="ngForm" cForm (ngSubmit)="updateUserPassword(ngForm)">
    <div class="modal-body centered">

        <div class="mb-3">
            <label cLabel class="form-label" for="oldPassword">
                Old Password:
            </label>
            <input ngModel
                      cFormControl
                      id="oldPassword"
                      placeholder="Enter old password"
                      name="oldPassword"
                      required
                   [minlength]="3"
                   type="password"
                   autocomplete="off"
            >
            <c-form-feedback [valid]="false">Please enter your old password</c-form-feedback>
        </div>

        <div class="mb-3">
            <label cLabel class="form-label" for="newPassword">
                New Password:
            </label>
            <input ngModel
                   cFormControl
                   id="newPassword"
                   placeholder="Enter new password"
                   name="newPassword"
                   required
                   [minlength]="3"
                   type="password"
                   autocomplete="off"
            >
            <c-form-feedback [valid]="false">Please enter your new password</c-form-feedback>
        </div>

    </div>
    <div class="modal-footer">
        <button
                (click)="activeModal.close('Close click')"
                [color]="'secondary'"
                cButton
                type="button"
        >
            Close
        </button>
        <button cButton color="primary" type="submit">
            Submit
        </button>
    </div>
</form>

