<div class="modal-header">
    <h4 class="modal-title" id="modal-primary-title">View Playlist</h4>
    <button
            (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button">
    </button>
</div>
<form  #ngForm="ngForm" cForm>
    <div class="modal-body centered">

        <div class="mb-3">
            <label cLabel class="form-label" for="name">
                Name:
            </label>
            <input ngModel
                      cFormControl
                      id="name"
                      placeholder="Enter name"
                      name="name"
                      required
                   type="text"
                   readonly
                   autocomplete="off"
                   [(ngModel)]="playlist.name"
            >
            <c-form-feedback [valid]="false">Please enter a name</c-form-feedback>
        </div>

        <div class="mb-3">
            <label cLabel class="form-label" for="description">
                Description:
            </label>
            <textarea ngModel
                      cFormControl
                      id="description"
                      placeholder="Enter description"
                      name="description"
                      type="text"
                      readonly
                      [(ngModel)]="playlist.description"
            ></textarea>
        </div>

        <div class="mb-3">
            <label cLabel class="form-label" for="visibility">
                Visibility:
            </label>
            <input ngModel
                   cFormControl
                   id="visibility"
                   placeholder="Enter name"
                   name="visibility"
                   required
                   type="text"
                   readonly
                   autocomplete="off"
                   [(ngModel)]="playlist.visibility"
            >
            <c-form-feedback [valid]="false">Please enter a name</c-form-feedback>
        </div>


        <div class="ng-autocomplete mb-3">
            <label cLabel class="form-label">
                Tracks:
            </label>
        </div>
        <div class="table-responsive">
            <table class="table table-striped mt-1 mb-3">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Track Title</th>
                    <th scope="col">Artist</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let track of playlist.tracks; let index = index;">
                    <th scope="row">{{index + 1}}</th>
                    <td>{{track.title}}</td>
                    <td>{{track.artistName}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button
                (click)="activeModal.close('Close click')"
                [color]="'secondary'"
                cButton
                type="button"
        >
            Close
        </button>
    </div>
</form>

