<c-row>
    <c-col xs="12">
        <app-docs-callout href="charts">
            Angular wrapper component for Chart.js 3.6, the most popular charting library.
            <br>
        </app-docs-callout>
    </c-col>
    <c-col lg="6" xs="12">
        <c-card class="mb-4">
            <c-card-header>
                Bar Chart
            </c-card-header>
            <c-card-body>
                <c-chart [data]="chartBarData" type="bar"></c-chart>
            </c-card-body>
        </c-card>
    </c-col>
    <c-col lg="6" xs="12">
        <c-card class="mb-4">
            <c-card-header>
                Line Chart
            </c-card-header>
            <c-card-body>
                <c-chart [data]="chartLineData" type="line"></c-chart>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<c-row>
    <c-col lg="6" xs="12">
        <c-card class="mb-4">
            <c-card-header>
                Doughnut Chart
            </c-card-header>
            <c-card-body>
                <c-chart [data]="chartDoughnutData" type="doughnut"></c-chart>
            </c-card-body>
        </c-card>
    </c-col>
    <c-col lg="6" xs="12">
        <c-card class="mb-4">
            <c-card-header>
                Pie Chart
            </c-card-header>
            <c-card-body>
                <c-chart [data]="chartPieData" type="pie"></c-chart>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<c-row>
    <c-col lg="6" xs="12">
        <c-card class="mb-4">
            <c-card-header>
                Polar Area Chart
            </c-card-header>
            <c-card-body>
                <c-chart [data]="chartPolarAreaData" type="polarArea"></c-chart>
            </c-card-body>
        </c-card>
    </c-col>
    <c-col lg="6" xs="12">
        <c-card class="mb-4">
            <c-card-header>
                Radar Chart
            </c-card-header>
            <c-card-body>
                <c-chart [data]="chartRadarData" type="radar"></c-chart>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
