<div class="modal-header">
    <h4 class="modal-title" id="modal-primary-title">Playlist Details</h4>
    <button
            (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button">
    </button>
</div>
<div class="modal-body centered">
    <form>
        <c-row class="mb-3">
            <label cLabel class="col-sm-2 col-form-label" for="name">
                Name:
            </label>
            <c-col sm="4">
                <input [value]="playlist.name | capitalize" cFormControl id="name"
                       readonly
                       type="text"
                />
            </c-col>
            <label cLabel class="col-sm-2 col-form-label" for="creator">
                Creator:
            </label>
            <c-col sm="4">
                <input [value]="playlist.creator?.name | capitalize" cFormControl id="creator"
                       readonly
                       type="text"
                />
            </c-col>
        </c-row>
        <c-row class="mb-3">
            <label cLabel class="col-sm-2 col-form-label" for="description">
                Description:
            </label>
            <c-col sm="10">
                <textarea [value]="playlist.description || 'N/A'" cFormControl id="description"
                          readonly
                          rows="3"
                          type="text">
                </textarea>
            </c-col>
        </c-row>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Track(s):</legend>
            <c-col sm="10">
                <button
                        [color]="'info'"
                        cButton
                        type="button"
                        class="mb-2"
                        (click)="toggleTracksButton(0)"
                >
                    {{expandOrCollapseTracks}} <fa-icon [icon]="faAngleDownOrUpTracks"></fa-icon>
                </button>
                <div cListGroup [visible]="collapses[0]" cCollapse>
                    <a *ngFor="let track of playlist.tracks; let index = index;"
                       class="pointer"
                       cListGroupItem
                       (click)="openTrackModal(track)"
                    >
                        {{(index + 1) + ' - ' + track.title + ' by ' + track.artistName}}
                    </a>
                </div>
            </c-col>
        </fieldset>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Review(s):</legend>
            <c-col sm="10">
                <button
                        [color]="'info'"
                        cButton
                        type="button"
                        class="mb-2"
                        (click)="toggleReviewsButton(1)"
                >
                    {{expandOrCollapseReviews}} <fa-icon [icon]="faAngleDownOrUpReviews"></fa-icon>
                </button>
                <ul cListGroup [visible]="collapses[1]" cCollapse>
                    <li *ngFor="let review of playlist.reviews; let index = index;"
                       cListGroupItem>
                        <div *ngIf="isAdmin$ | async" class="d-flex w-100 justify-content-start mb-2">
                            <button
                                    [color]="review.hiddenFlag === 'N'? 'danger' : 'success'"
                                    cButton
                                    type="button"
                                    (click)="openHideReviewModal(playlist, review)"
                            >
                                {{review.hiddenFlag === 'N'? 'Hide' : 'Reveal'}}
                            </button>
                        </div>
                        <h6 class="mb-2">Rating: {{review.rating}}</h6>
                        <p class="mb-2">
                           {{'"' + review.comment + '"'}}
                        </p>
                        <div class="d-flex w-100 justify-content-between">
                            <small>{{review.creator?.name | capitalize}}</small>
                            <small>{{review.createdAt}}</small>
                        </div>

                    </li>
                </ul>
            </c-col>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button
            (click)="activeModal.close('Close click')"
            [color]="'secondary'"
            cButton
            type="button"
    >
        Close
    </button>
    <div *ngIf="(isLoggedIn$ | async) && loggedInUser?.id !== playlist.creator?.id">
        <button
                [color]="'info'"
                cButton
                type="button"
        >
            Add review
        </button>
    </div>
</div>

