<div class="bg-light p-5 d-flex flex-row align-items-center">
    <c-container class="mt-5">
        <c-row class="justify-content-center">
            <c-col md="6">
                <c-alert  dismissible color="success" fade *ngIf="isLoggedIn$ | async">
                    <strong>Hi ! {{loggedInUser.name}}</strong> you're now logged in, start experiencing more.
                </c-alert>
                <c-alert  color="danger" fade *ngIf="(isLoggedIn$ | async) && !(isEmailVerified$ | async)">
                    Your EMAIL isn't verified yet ! Please click on the this <a cAlertLink
                (click)="verifyEmail()">link</a> to verify
                </c-alert>
                <div class="clearfix">
                    <h1 class="float-start display-3 me-4">PAC</h1>
                    <h4 class="pt-3">Welcome to the PAC Music Application.</h4>
                    <p class="text-medium-emphasis float-start">
                        We deliver to you an eclectic collection of tracks, which you can curate from and create your
                        personalized choice of playlist and much more.
                    </p>
                </div>
                <a *ngIf="!(isLoggedIn$ | async)"
                   [routerLink]="'/welcome/login'"
                   class="d-grid gap-2 col-12 mx-auto">
                    <button [disabled]="isLoggedIn" cButton color="primary">
                        <span class="p-2"><fa-icon [icon]="faRightToBracket"></fa-icon></span>
                        LOGIN AND EXPERIENCE MUCH MORE
                    </button>
                </a>
            </c-col>
        </c-row>
    </c-container>
</div>

