<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
    <c-container [fluid]="true">
        <c-nav class="flex-column flex-sm-row justify-content-start" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand " routerLink="/">
                    <img alt="" class="d-inline-block" height="48" src="/assets/img/brand/coreui-signet.svg" width="44">
                    <b>PAC</b>
                </a>
            </div>
        </c-nav>
        <c-nav class="flex-column flex-sm-row justify-content-end" role="navigation" variant="pills">
            <a cNavLink routerLink="/tracks" routerLinkActive="active">
                TRACKS
            </a>
            <a cNavLink routerLink="/playlists" routerLinkActive="active">
                PLAYLISTS
            </a>
            <a *ngIf="!isLoggedIn" cNavLink routerLink="/my-playlists" routerLinkActive="active">
                MY PLAYLISTS
            </a>
            <a *ngIf="isAdmin" cNavLink routerLink="/users" routerLinkActive="active">
                USERS
            </a>
            <a *ngIf="!isLoggedIn" cNavLink routerLink="/welcome/login" routerLinkActive="active">
                LOGIN
            </a>
            <c-header-nav *ngIf="!isLoggedIn" class="ms-3">
                <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
            </c-header-nav>
        </c-nav>
    </c-container>
    <c-header-divider></c-header-divider>
    <c-container [fluid]="true">
        <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
    </c-container>
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
    <c-dropdown alignment="end" variant="nav-item">
        <button
                [caret]="false"
                cButton
                cDropdownToggle
                class="py-0"
                color="">
            <fa-icon [icon]="faUser" size="2xl"></fa-icon>
        </button>
        <ul cDropdownMenu class="pt-0 pr-5 w-auto">
            <li>
                <h6 cDropdownHeader class="bg-light fw-semibold py-2">Hi {{username}}</h6>
            </li>
            <li>
                <a cDropdownItem routerLink="/logout">
                    <fa-icon [icon]="faRightFromBracket"></fa-icon>
                    Logout
                </a>
            </li>
            <li></li>
        </ul>
    </c-dropdown>
</ng-template>

