<div class="bg-light d-flex flex-row align-items-center">
    <c-container class="mt-5">
        <c-row class="justify-content-center">
            <c-col lg="7" md="9" xl="6">
                <c-card class="mx-4">
                    <c-card-body class="p-4">
                        <form cForm [validated]="isInvalid"
                              #ngForm="ngForm" (ngSubmit)="createUser(ngForm)"
                        >
                            <h1>Register</h1>
                            <p class="text-medium-emphasis">Create your account</p>
                            <label cLabel class="form-label" for="name">
                                Username:
                            </label>
                            <c-input-group class="mb-3">
                                <span cInputGroupText>
                                  <svg cIcon name="cilUser"></svg>
                                </span>
                                <input autoComplete="off"
                                       cFormControl
                                       ngModel
                                       name="name"
                                       id="name"
                                       required
                                       placeholder="Enter Username"/>
                                <c-form-feedback [valid]="false">Please enter a valid username</c-form-feedback>
                            </c-input-group>
                            <label cLabel class="form-label" for="email">
                                Email:
                            </label>
                            <c-input-group class="mb-3">
                                <span cInputGroupText>@</span>
                                <input autoComplete="off"
                                       id="email"
                                       cFormControl
                                       required
                                       ngModel
                                       name="email"
                                       min="3"
                                       type="email"
                                       placeholder="Enter Email"/>
                                <c-form-feedback [valid]="false">Please enter a valid email</c-form-feedback>
                            </c-input-group>
                            <label cLabel class="form-label" for="password">
                                Password:
                            </label>
                            <c-input-group class="mb-3">
                                <span cInputGroupText>
                                  <svg cIcon name="cilLockLocked"></svg>
                                </span>
                                <input autoComplete="off"
                                       id="password"
                                       cFormControl
                                       required
                                       min="3"
                                       ngModel
                                       name="password"
                                       placeholder="Enter Password"
                                       type="password"/>
                                <c-form-feedback [valid]="false">Please enter a valid password</c-form-feedback>
                            </c-input-group>
                            <div class="d-grid mt-3">
                                <button cButton
                                        type="submit"
                                        color="success">
                                    Create Account
                                </button>
                            </div>
                        </form>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-container>
</div>
